* {
    box-sizing: border-box;
    font-family: DM Sans;
}

header{
    background-image: url("../assets/images/MaskGroup.png");
    height: 40%;
}

header nav img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letra-morada{
    color:lightgreen;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style:none;
}

header div1 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div1 p{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div1 p1{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 60%;
    width: 100%;
}

main section{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.boton-sign-up{
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.boton-azul{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 80%;
    display:flex;
    justify-content: center;
}

.boton-blanco{
    background-color: white;
    color: blue;
    border-radius: 5px;
    width: 80%;
    display:flex;
    justify-content: center;
}

.li{
    display: list-item;
    list-style: none;
}

.article1{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content:center; 
    width:20%;
    height: 80%;
}

.article2{
    background-color: blue;
    border: 1px solid purple;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:20%;
    height: 80%;
}

.article3{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:20%;
    height: 80%;
}

.billed{
    color:gray;
}